@import 'variables.css';

.experience-card {
    background-color: var(--white);
    border: 1px solid var(--raisin-black);
    padding: 1.5rem;
    margin: 1em;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 10px 0 var(--khaki);
}

nav a:hover {
    color: var(--columbia-blue);
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.photo {
    width: 16rem;
    height: auto;
    overflow: hidden;
}

.about-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.about-section ul {
    list-style-type: circle;
}

/* Text Styles */
.emphasis-text {
    font-size: 1.25em;
    color: var(--cadet-gray);
    line-height: 2rem;
}

.subheading {
    font-size: 1em;
    color: var(--cadet-gray);
    text-transform: uppercase;
    line-height: 2rem;
}