:root {
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--saffron: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;

--white: #ffffff;
--raisin-black: #312927ff;
--columbia-blue: #D5EAF8ff;
--khaki: #A99F97ff;
--black: #000000ff;
--cadet-gray: rgb(130, 138, 145);

<<<<<<< Updated upstream
--background-color: #f9feff;
=======
--background-color: var(--oxford-blue);

--oxford-blue: #0a1128ff;
--light-oxford-blue: #1f2a4a;
--bittersweet: #ed6a5aff;
--indigo-dye: #034078ff;
--turquoise: #41ead4ff;
--white: #fefcfbff;
--lavender: #E6E6FA;
--dark-lavender: #B0B0C4;

--primary-text: #E6E6FA;
--subtle-text: #B0B0C4;
>>>>>>> Stashed changes
}