:root {
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--saffron: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;

--white: #fffcf7;
--raisin-black: #312927ff;
--columbia-blue: #D5EAF8ff;
--khaki: #A99F97ff;
--black: #000000ff;
--cadet-gray: rgb(130, 138, 145);

--background-color: #fffcf7;
}